.basketData {
  display: block;
  div {
    display: flex;
    justify-content: space-between;
  }
}
.checkout-btn{
  button {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
  }
}
